:root{
    --bluea: #2c4157;
    --blueb: #292955;
    --nude: #EA997A;
    --grey: #EAEAEA;
    --greyb: #F2F2F2;
    --green: #BAC7C6;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: #F4F2EE;
    color: var(--blueb);
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
h1{
    font-weight: 700;
    font-size: 2.8rem;
}
/* NAV */
.logo {
    margin-top: 100px;
    width: 100% !important;
}
.bg-light {
    background-color: transparent!important;
    height: 100px;
    padding: 30px;
}
body nav.navbar {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-top: 13px;
}
ul.nav {
    background-color: #001C41 !important;
    margin-top: 0px;
}
ul.nav a {
    color: white;
}
.nav {
    display: inherit;
    float: right;
    background-color: transparent !important;
    padding: 0px;
}
.nav-link:hover {
    transition: all 0.3s ease-in-out;
    color: #eca95b;
}
.navbar-light .navbar-toggler {
    color: white !important;
    border-color: white !important;
    background-color: white;
    z-index: 10;
}
/* INTRO */
.logo-pensiones{
    display: grid;
    grid-row: auto;
    justify-content: center;
}

.intro{
    display: grid;
    grid-template-columns: 500px;
}
.bg-intro{
    background: url('https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/Reforma-Pensiones/images/moneda.png'), url('https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/Reforma-Pensiones/images/bg-intro.png');
    background-position: right top, center;
    background-repeat: no-repeat;
    background-size: 60%, 178% 108%;
    padding-bottom: 20px;
}
.ltr-nude{
    color: #EA997A;
}
.ltr-green{
    color: #607D7E;
}
.ejes{
    background: #DEE1E7;
}
/*--------PREGUNTAS FRECUENTES-------------*/
.bg-green{
    background: var(--green);
    padding-top:30px ;
    background-image:  url('https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/Reforma-Pensiones/images/bg-fq.png'), url('https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/Reforma-Pensiones/images/bg-faqs.png');
    background-repeat: no-repeat;
    background-position: right, center;
    background-size: 110%, 115% 100% ;
}
/*-------EJEMPLOS--------*/
.ejemplo{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-column-gap: 20px;
    justify-content: center;
}
.btn-m{
    background: #607D7E;
    padding: 0;
    margin: 0 50px;
    border-radius: 40px;
    color: white;
    transition: transform .5s;
}
.btn-h{
    background:var(--nude);
    padding: 0;
    margin: 0 50px;
    border-radius: 40px;
    color: white;
    transition: transform .2s;
}
.btn-m:hover{
    transform: scale(1.1);
}
.btn-h:hover{
    transform: scale(1.1);
}

.btn-mj{
    color: #FFFFFF;
    background-color: #607D7E;
}
.btn-hb{
    color: #FFFFFF;
    background-color: var(--nude);
}
/* ----------------------- ACCORDEON ----------------------- */
button.acd-1 {
    cursor: pointer;
    border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    -webkit-border-radius: 2.5rem;
    width: 99%;
    border: none;
    text-align: left;
    outline: none;
    transition: 1s;
    position: relative;
    margin-bottom: 15px;
    padding: 18px 45px 20px 20px;
    background-color:var(--bluea);
    transition: transform .5s;
    border: 10px solid var(--nude);
    box-shadow: 15px 15px var(--bluea);
}
button.acd-2 {
    cursor: pointer;
    border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    -webkit-border-radius: 2.5rem;
    width: 70%;
    border: none;
    text-align: center;
    outline: none;
    transition: 1s;
    position: relative;
    margin: auto;
    display: block;
    padding: 15px 45px 15px 20px;
    background-color:var(--greyb);
    transition: transform .5s;
}
button.acordion:hover {
    transform: scale(1.05); 
}
 button.acd-1:after {
    color: white;
    font-family: FontAwesome;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 1.75rem;
    content: '\f078';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
button.acd-2:after {
    color:var(--nude);
    font-family: FontAwesome;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 1.75rem;
    content: '\f078';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
button.acordion.active:after {
    font-family: FontAwesome;
    content: "\f077";
    font-weight: bold;
    transition: all .5s  ease;
}
h3.acordion-title{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: #FFFFFF;
}
h3.acordion-titles{
    font-size: 1.5rem;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: var(--bluea);
}
div.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 10px;
    width: 100%;
}
.panel-child{
    padding: 2rem 3rem;
    margin: 0 1rem;
    background-color: rgba(242, 242, 242, 0.625);
    border-radius: 30px;
}
div.panel p {
    font-size: 1.2rem;
    line-height: 1.75rem;
    color: var(--blueb);
}
.icons{
    position:relative;
    width:100%; 
    margin-bottom: 50px;  
}
.intro p{
    font-size: 1.25rem;
}
.icons img{
    margin:auto;
    display:block;
    width: 60%;
}
ul.yellow > li{
    padding-left: 20px;
    font-size: 1.2rem;
    padding-bottom: 10px;
}
ul.yellow > li::marker {
    content: "\2022";
    color: #eca95b;
    display: inline-block;
    padding-right: 10px;
    font-size: 40px;
    line-height: 2rem;
    vertical-align: middle;
}
/* FOOTER */
.footer {
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 80px;
    border-bottom: 20px solid #001C41;
    background-color: #001C41;
}

/* SOCIAL */
.fa-instagram, .fa-twitter, .fa-facebook {
    color: #FFFFFF;
    padding: 20px;
}
.fa-instagram:hover, .fa-twitter:hover, .fa-facebook:hover {
    color: gray;
}
.col-12, .col-md-9, .col-lg-9, .col-4, .col-md-4, .col-md-3, .col-lg-3, .col {
    float: left;
}

@media (max-width: 768px) {
    .intro{
        display: grid;
        grid-template-columns: auto;
        background: url('https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/Reforma-Pensiones/images/bg-intro.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 120% 120%;
        border-radius: 20px;
        padding-bottom: 20px;
    }
    .bg-intro{
       background: none;
    }
    .ejes{
        background:none;
    }
    h3.acordion-title {
        font-size: 1.2rem;
    }
    button.acordion:after {
        font-size: 1.2rem;
    }
    .panel-child {
        padding: 1rem;
    }
    button.acordion{
        width: 100%;
    }
    .icons img{
        width: 100%;
    }
    .ejemplo{
        grid-template-columns: auto auto;
    }
    #ex h3 {
        font-size: 24px;
    }
    #ex h2 {
        font-size: 28px;
    }
}

@media (max-width: 500px){
    .logo-pensiones{
        background: url('https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/Reforma-Pensiones/images/bg-intro.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 120% 120%;
    }
    .intro{
        display: grid;
        grid-template-columns: auto;
        background: none;
        text-align: justify;
    }
    .bg-intro{
        background: var(--grey);
        padding-bottom: 10px;
    }
    h3.acordion-titles{
        font-size: 0.8rem;
        padding-right: 10px;
    }
    button.acordion.acd-2 {
        padding: 10px;
    }
    button.acd-2:after {
        font-size: 0.5rem;
    }
    div.panel p {
        font-size: 0.875rem;
    }
    h1{
        font-weight: 700;
        font-size: 1.8rem;
    }
    .ejemplo{
        grid-template-columns: auto;
    }
    #ex h3 {
        font-size: 18px;
    }
    #ex h2 {
        font-size: 24px;
    }
}
@media(max-width: 300px){
    .intro{
        display: grid;
        grid-template-columns: auto;
        background: none;
    }
    .bg-intro{
        background: var(--grey);
        padding-bottom: 10px;
    }
    .icons img{
        width: 100%;
    }
}